# NLP, Tokenizer, and Deep Learning
transformers>=4.40.0
sentencepiece
torch
peft
accelerate
datasets
seqeval
pyyaml
huggingface_hub
tqdm
python-dotenv
openai
pymupdf

# Web App and Visualization
fastapi>=0.110.0
jinja2
uvicorn

